<!DOCTYPE html>
<html>
{% extends "base.html" %}

{% block content %}
        <h1 style="background-color: #F0FFFF; color: #008B8B; padding: 25px; font-variant: small-caps"> Did You "Permalink" To This Lone Blog? </h1>


        <div class="ViewPostHandler">
          <div style="font-weight: bold; font-size: 30px", class="new_post.title">{{new_post.title}}</div>
          <pre style="margin:0; font-size: 17px; padding: 10px 3% 20px", class="new_post.entry">{{new_post.entry}}</pre>
        </div>

{% endblock %}
</html>
